<h1> <%= @training.name %> - training details</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"><%= @training.name %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Date of training</td>
      <td><%= @training.date_of_training %></td>
    </tr>
    <tr>
      <td>Distance [meters]</td>
      <td><%= @training.distance_meters %></td>
    </tr>
    <tr>
      <td>Training time [minutes]</td>
      <td><%= @training.time_in_minutes %></td>
    </tr>
    <tr>
      <td>Training intensity</td>
      <td><%= @training.intensitylevel %></td>
    </tr>
    <tr>
      <tr>
        <td>Discipline</td>
        <td><%= link_to @training.discipline.name,  discipline_path(@training.discipline) %></td>
      </tr>
  </tbody>
</table>
