<h1>My Friends </h1>
<br>
<% unless @friendships.blank? %>
  <div class="wellcol-md-10">
    <table class="search-results-table col-md-12">
      <tbody>
        <% @friendships.each do |friend| %>
          <tr>
            <td><strong>Name:</strong><%= "#{friend.decorate.full_name}" %></td>
            <td><strong>Email:</strong><%= friend.email %></td>
            <td><strong>Profile:</strong> <%= link_to "View profile", user_path(friend), class: "btn btn-xs btn-info" %>
              <%= link_to "Remove Friend", friendship_path(friend), method: :delete, class: "btn btn-xs btn-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
<br><br>
<h4>Search for friends</h4>

<%= form_tag friends_search_path, id: "friend-lookup-form" do %>
  <div class="form-group row no-padding text-center col-md-12">
    <div class="col-md-10">
      <%= text_field_tag :friend_search, params[:friend_search], placeholder:"Enter friend name or email", autofocus: true, class: "form-control search-box input-lg" %>
    </div>
    <div class="col-md-2">
      <%= button_tag(type: :submit, class: "btn btn-lg btn-success") do %>
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
      <% end %>
    </div>
  </div>
<% end %>
